
/*-----------fv-----------*/
@media screen and (min-width:1100px){
  .fv{
    width:100%;
    height:100%;
  }
  .fv-content{
    width:100%;
    height:100%;

    display:flex;
    flex-wrap:wrap;
  }
  .fv-c-left{
    width:50%;
    height:100%;

    background:url(../image/top/top_fv.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90%;
  }
  .fv-c-right{
    width:50%;
    height:100%;

    position: relative;
  }
  .fv-c-r-textarea{
    width:auto;
    height:auto;

    position: absolute;
    top:50%;
    left:45%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
  }
  .fv-c-r-textarea h2{
    font-size:35px;
    font-weight:bolder;
    line-height:150%;
    margin-bottom:45px;
  }
  .fv-c-r-textarea p{
    font-size:16px;
    font-weight:bold;
    line-height:200%;
    margin-bottom:30px;
    margin-left:10px;
  }
  .matomerukunn{
    margin:60px 0 0 0;
    width:100%;
    display:flex;
  }
  .fv-c-mf-mail{
    width:210px;
    height:60px;

    margin:0 0 0 5px;

    border-radius:9px;

    position: relative;

    background:linear-gradient(120deg,#FF8000, #FFD600);
  }
  .fv-c-mf-m-white{
    background:#fff;
    border-radius:5px;
    width:202px;
    height:52px;

    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
  }
  .fv-c-mf-m-white p{
    color:#FF8000;
    margin:12px 0 0 34px;
    position: relative;
  }
  .fv-c-mf-m-white p::before{
    content:"";
    width:16px;
    height:16px;
    background:url("../image/top/top_fv_mail.png");
    background-size:contain;
    background-repeat: no-repeat;

    position: absolute;
    top:50%;
    left:-18px;
    -webkit-transform:translateY(-55%);
       -moz-transform:translateY(-55%);
        -ms-transform:translateY(-55%);
         -o-transform:translateY(-55%);
            transform:translateY(-55%);
  }

  .fv-c-mf-chat{
    width:210px;
    height:60px;

    margin:0 0 0 30px;

    border-radius:9px;

    position: relative;

    background:#004BB1;
  }
  .fv-c-mf-c-white{
    background:#fff;
    border-radius:5px;
    width:202px;
    height:52px;

    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
  }
  .fv-c-mf-c-white p{
    color:#004BB1;
    margin:12px 0 0 40px;
    position: relative;
  }
  .fv-c-mf-c-white p::before{
    content:"";
    width:20px;
    height:20px;
    background:url("../image/top/top_fv_chat.png");
    background-size:contain;
    background-repeat: no-repeat;

    position: absolute;
    top:50%;
    left:-20px;
    -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
         -o-transform:translateY(-50%);
            transform:translateY(-60%);
  }

}

@media screen and (min-width:1600px){
  .fv-c-left{
    width:50%;
    height:100%;

    background:url(../image/top/top_fv.png);
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 80%;
  }
}

@media screen and (max-width:1099px){
  .fv{
    width:100%;
    height:100%;
  }
  .fv-content{
    width:100%;
    height:100%;

    display:flex;
    flex-wrap:wrap;
  }
  .fv-c-left{
    width:50%;
    height:100%;

    background:url(../image/top/top_fv.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90%;
  }
  .fv-c-right{
    width:50%;
    height:100%;

    position: relative;
  }
  .fv-c-r-textarea{
    width:auto;
    height:auto;

    position: absolute;
    top:50%;
    left:45%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
  }
  .fv-c-r-textarea h2{
    font-size:30px;
    font-weight:bolder;
    line-height:150%;
    margin-bottom:30px;
  }
  .fv-c-r-textarea p{
    font-size:16px;
    font-weight:bold;
    line-height:200%;
    margin-bottom:30px;
    margin-left:10px;
  }
  .matomerukunn{
    margin:30px 0 0 0;
    width:100%;
    display:flex;
  }
  .fv-c-mf-mail{
    width:210px;
    height:60px;

    margin:0 0 0 5px;

    border-radius:9px;

    position: relative;

    background:linear-gradient(120deg,#FF8000, #FFD600);
  }
  .fv-c-mf-m-white{
    background:#fff;
    border-radius:5px;
    width:202px;
    height:52px;

    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
  }
  .fv-c-mf-m-white p{
    color:#FF8000;
    margin:12px 0 0 34px;
    position: relative;
  }
  .fv-c-mf-m-white p::before{
    content:"";
    width:16px;
    height:16px;
    background:url("../image/top/top_fv_mail.png");
    background-size:contain;
    background-repeat: no-repeat;

    position: absolute;
    top:50%;
    left:-18px;
    -webkit-transform:translateY(-55%);
       -moz-transform:translateY(-55%);
        -ms-transform:translateY(-55%);
         -o-transform:translateY(-55%);
            transform:translateY(-55%);
  }

  .fv-c-mf-chat{
    width:210px;
    height:60px;

    margin:0 0 0 15px;

    border-radius:9px;

    position: relative;

    background:#004BB1;
  }
  .fv-c-mf-c-white{
    background:#fff;
    border-radius:5px;
    width:202px;
    height:52px;

    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
  }
  .fv-c-mf-c-white p{
    color:#004BB1;
    margin:12px 0 0 40px;
    position: relative;
  }
  .fv-c-mf-c-white p::before{
    content:"";
    width:20px;
    height:20px;
    background:url("../image/top/top_fv_chat.png");
    background-size:contain;
    background-repeat: no-repeat;

    position: absolute;
    top:50%;
    left:-20px;
    -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
         -o-transform:translateY(-50%);
            transform:translateY(-60%);
  }

}

@media screen and (max-width:800px){
  .fv{
    margin-bottom:90px;
  }
  .fv-c-left{
    width:100%;
    height:50%;
  }
  .fv-c-right{
    width:100%;
    height:50%;
  }
}

@media screen and (max-width:600px){
  .fv-c-left{
    background-position: 50% 0%;
    background-size: contain;
  }
  .fv-c-r-textarea{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    -webkit-transform:translateX(0%) translateY(0%);
       -moz-transform:translateX(0%) translateY(0%);
        -ms-transform:translateX(0%) translateY(0%);
         -o-transform:translateX(0%) translateY(0%);
            transform:translateX(0%) translateY(0%);
  }
  .fv-c-r-textarea h2{
    font-size:25px;
    margin-bottom:20px;
    margin-left:15px;
  }
  .fv-c-r-textarea p{
    font-size:13px;
    margin-bottom:15px;
    line-height:180%;
    margin-left:0;
    padding-left:15px;
    box-sizing: border-box;
  }

  .fv-c-mf-mail{
    width:170px;
    height:53px;
  }
  .fv-c-mf-m-white{
    width:162px;
    height:45px;
  }
  .fv-c-mf-m-white p{
    margin:12px 0 0 15px;
    padding:0;
  }
  .fv-c-mf-m-white p::before{
    left:0px;
    display:none;
  }
  .fv-c-mf-chat{
    width:170px;
    height:53px;
  }
  .fv-c-mf-c-white{
    width:162px;
    height:45px;
  }
  .fv-c-mf-c-white p{
    margin:12px 0 0 19px;
    padding:0;
  }
  .fv-c-mf-c-white p::before{
    left:0px;
    display:none;
  }
}

/*-----------service-----------*/
@media screen and (min-width:1100px){
  .service{
    width:100%;
    height:100%;
  }
  .s-content{
    width:100%;
    height:100%;
    position: relative;
  }
  .s-c-text{
    position: absolute;
    top:6%;
    left:6%;
  }
  .s-c-text h2{
    font-size:45px;
    font-weight:bold;
    position: relative;
  }
  .s-c-text h2::after{
    content:"";
    position: absolute;
    top:calc(50% - 3px);
    left:-35px;
    width:25px;
    height:3px;
    background:#000;
  }
  .s-c-text p{
    font-size:20px;
    font-weight:bold;
    margin:12px 0 0 5px;
  }

  .s-c-ul{
    width:90%;
    height:auto;

    position: absolute;
    top:55%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);

    display:flex;
    flex-wrap:wrap;
  }
  .s-c-ul li{
    width:25%;
    padding:0 15px;
    box-sizing: border-box;
  }
  .s-c-u-l-frame{
    width:100%;
    height:340px;
    border-radius:20px 20px 0px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
    position: relative;
  }
  .service_frame_1{
    background:url(../image/top/top_service_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .service_frame_2{
    background:url(../image/top/top_service_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(20px);
       -moz-transform:translateY(20px);
        -ms-transform:translateY(20px);
         -o-transform:translateY(20px);
            transform:translateY(20px);
  }
  .service_frame_3{
    background:url(../image/top/top_service_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(40px);
       -moz-transform:translateY(40px);
        -ms-transform:translateY(40px);
         -o-transform:translateY(40px);
            transform:translateY(40px);
  }
  .service_frame_4{
    background:url(../image/top/top_service_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(60px);
       -moz-transform:translateY(60px);
        -ms-transform:translateY(60px);
         -o-transform:translateY(60px);
            transform:translateY(60px);
  }

  .service_name_en{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);

    position: absolute;
    bottom:60px;
    left:-20px;

    background:#fff;
  }
  .service_name_en p{
    font-size:26px;
    padding:12px 15px;
    font-weight:bold;
  }

  .service_name_jp{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);

    position: absolute;
    bottom:10px;
    right:10px;

    background:#fff;
  }
  .service_name_jp p{
    font-size:17px;
    padding:11px 10px 9px 30px;
    font-weight:bold;
    position:relative;
  }
  .service_name_jp p::before{
    content:"";
    position: absolute;
    top:calc(50%);
    left:9px;
    height:2px;
    width:15px;
    background:#000;
  }
}

@media screen and (min-width:1600px){
  .s-c-ul li{
    padding:0 30px;
    box-sizing: border-box;
  }
}

@media screen and (max-width:1099px){
  .service{
    width:100%;
    height:100%;
  }
  .s-content{
    width:100%;
    height:100%;
    position: relative;
  }
  .s-c-text{
    position: absolute;
    top:6%;
    left:6%;
  }
  .s-c-text h2{
    font-size:35px;
    font-weight:bold;
    position: relative;
  }
  .s-c-text h2::after{
    content:"";
    position: absolute;
    top:calc(50% - 3px);
    left:-35px;
    width:25px;
    height:3px;
    background:#000;
  }
  .s-c-text p{
    font-size:20px;
    font-weight:bold;
    margin:12px 0 0 5px;
  }

  .s-c-ul{
    width:90%;
    height:auto;

    position: absolute;
    top:55%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);

    display:flex;
    flex-wrap:wrap;
  }
  .s-c-ul li{
    width:25%;
    padding:0 15px;
    box-sizing: border-box;
  }
  .s-c-u-l-frame{
    width:100%;
    height:300px;
    border-radius:20px 20px 0px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
    position: relative;
  }
  .service_frame_1{
    background:url(../image/top/top_service_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .service_frame_2{
    background:url(../image/top/top_service_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(15px);
       -moz-transform:translateY(15px);
        -ms-transform:translateY(15px);
         -o-transform:translateY(15px);
            transform:translateY(15px);
  }
  .service_frame_3{
    background:url(../image/top/top_service_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(30px);
       -moz-transform:translateY(30px);
        -ms-transform:translateY(30px);
         -o-transform:translateY(30px);
            transform:translateY(30px);
  }
  .service_frame_4{
    background:url(../image/top/top_service_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(45px);
       -moz-transform:translateY(45px);
        -ms-transform:translateY(45px);
         -o-transform:translateY(45px);
            transform:translateY(45px);
  }

  .service_name_en{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);

    position: absolute;
    bottom:60px;
    left:-20px;

    background:#fff;
  }
  .service_name_en p{
    font-size:21px;
    padding:12px 15px;
    font-weight:bold;
  }

  .service_name_jp{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);

    position: absolute;
    bottom:10px;
    right:10px;

    background:#fff;
  }
  .service_name_jp p{
    font-size:14px;
    padding:11px 10px 9px 30px;
    font-weight:bold;
    position:relative;
  }
  .service_name_jp p::before{
    content:"";
    position: absolute;
    top:calc(50%);
    left:9px;
    height:1px;
    width:15px;
    background:#000;
  }
}

@media screen and (max-width:800px){
  .service{
    height:auto;
    margin-bottom:90px;
  }
  .s-content{
    height:auto;
  }
  .s-c-text{
    padding-left:45px;
    box-sizing: border-box;
    position: static;
    top:0;
    left:0;
  }
  .s-c-ul{
    position: static;
    margin:60px auto 0 auto;
    top:0px;
    left:0;
    -webkit-transform:translateX(0%) translateY(0%);
       -moz-transform:translateX(0%) translateY(0%);
        -ms-transform:translateX(0%) translateY(0%);
         -o-transform:translateX(0%) translateY(0%);
            transform:translateX(0%) translateY(0%);
  }
  .s-c-ul li{
    width:100%;
    padding:0;
    margin-bottom:60px;
  }
  .s-c-u-l-frame {
    width: 100%;
    height: 600px;
    border-radius: 20px 20px 0px 20px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 16%);
    position: relative;
  }
}

@media screen and (max-width:600px){
  .s-c-ul li{
    margin-bottom:30px;
  }
  .s-c-u-l-frame{
    height:400px;
  }
  .service_name_en p{
    font-size:25px;
  }
  .service_name_jp p{
    font-size:16px;
  }
}
/*-----------link-----------*/
@media screen and (min-width:1100px){
  .link{
    width:100%;
    height:100%;
  }
  .l-content{
    width:100%;
    height:100%;
    position: relative;
  }
  .l-c-text{
    position: absolute;
    top:6%;
    left:6%;
  }
  .l-c-text h2{
    font-size:45px;
    font-weight:bold;
    position: relative;
  }
  .l-c-text h2::after{
    content:"";
    position: absolute;
    top:calc(50% - 3px);
    left:-35px;
    width:25px;
    height:3px;
    background:#000;
  }
  .l-c-text p{
    font-size:20px;
    font-weight:bold;
    margin:12px 0 0 5px;
  }

  .l-c-ul{
    width:90%;
    height:auto;

    position: absolute;
    top:55%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);

    display:flex;
    flex-wrap:wrap;
  }
  .l-c-ul li{
    width:25%;
    padding:0 15px;
    box-sizing: border-box;
  }
  .l-c-u-l-frame{
    width:100%;
    height:340px;
    border-radius:20px 20px 0px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
    position: relative;
  }
  .link_frame_1{
    background:url(../image/top/top_menu_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .link_frame_2{
    background:url(../image/top/top_menu_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(20px);
       -moz-transform:translateY(20px);
        -ms-transform:translateY(20px);
         -o-transform:translateY(20px);
            transform:translateY(20px);
  }
  .link_frame_3{
    background:url(../image/top/top_menu_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(40px);
       -moz-transform:translateY(40px);
        -ms-transform:translateY(40px);
         -o-transform:translateY(40px);
            transform:translateY(40px);
  }
  .link_frame_4{
    background:url(../image/top/top_menu_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(60px);
       -moz-transform:translateY(60px);
        -ms-transform:translateY(60px);
         -o-transform:translateY(60px);
            transform:translateY(60px);
  }

  .link_name_en{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);

    position: absolute;
    bottom:60px;
    left:-20px;

    background:#fff;
  }
  .link_name_en p{
    font-size:26px;
    padding:12px 15px;
    font-weight:bold;
  }

  .link_name_jp{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);

    position: absolute;
    bottom:10px;
    right:10px;

    background:#fff;
  }
  .link_name_jp p{
    font-size:17px;
    padding:11px 10px 9px 30px;
    font-weight:bold;
    position:relative;
  }
  .link_name_jp p::before{
    content:"";
    position: absolute;
    top:calc(50%);
    left:9px;
    height:2px;
    width:15px;
    background:#000;
  }

}

@media screen and (min-width:1600px){
  .l-c-ul li{
    padding:0 30px;
    box-sizing: border-box;
  }
}

@media screen and (max-width:1099px){
  .link{
    width:100%;
    height:100%;
  }
  .l-content{
    width:100%;
    height:100%;
    position: relative;
  }
  .l-c-text{
    position: absolute;
    top:6%;
    left:6%;
  }
  .l-c-text h2{
    font-size:35px;
    font-weight:bold;
    position: relative;
  }
  .l-c-text h2::after{
    content:"";
    position: absolute;
    top:calc(50% - 3px);
    left:-35px;
    width:25px;
    height:3px;
    background:#000;
  }
  .l-c-text p{
    font-size:20px;
    font-weight:bold;
    margin:12px 0 0 5px;
  }

  .l-c-ul{
    width:90%;
    height:auto;

    position: absolute;
    top:55%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);

    display:flex;
    flex-wrap:wrap;
  }
  .l-c-ul li{
    width:25%;
    padding:0 15px;
    box-sizing: border-box;
  }
  .l-c-u-l-frame{
    width:100%;
    height:300px;
    border-radius:20px 20px 0px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
    position: relative;
  }
  .link_frame_1{
    background:url(../image/top/top_menu_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .link_frame_2{
    background:url(../image/top/top_menu_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(15px);
       -moz-transform:translateY(15px);
        -ms-transform:translateY(15px);
         -o-transform:translateY(15px);
            transform:translateY(15px);
  }
  .link_frame_3{
    background:url(../image/top/top_menu_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(30px);
       -moz-transform:translateY(30px);
        -ms-transform:translateY(30px);
         -o-transform:translateY(30px);
            transform:translateY(30px);
  }
  .link_frame_4{
    background:url(../image/top/top_menu_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform:translateY(45px);
       -moz-transform:translateY(45px);
        -ms-transform:translateY(45px);
         -o-transform:translateY(45px);
            transform:translateY(45px);
  }

  .link_name_en{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);

    position: absolute;
    bottom:60px;
    left:-20px;

    background:#fff;
  }
  .link_name_en p{
    font-size:21px;
    padding:12px 15px;
    font-weight:bold;
  }

  .link_name_jp{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);

    position: absolute;
    bottom:10px;
    right:10px;

    background:#fff;
  }
  .link_name_jp p{
    font-size:14px;
    padding:11px 10px 9px 30px;
    font-weight:bold;
    position:relative;
  }
  .link_name_jp p::before{
    content:"";
    position: absolute;
    top:calc(50%);
    left:9px;
    height:1px;
    width:15px;
    background:#000;
  }

}

@media screen and (max-width:800px){
  .link{
    height:auto;
    margin-bottom:90px;
  }
  .l-content{
    height:auto;
  }
  .l-c-text{
    padding-left:45px;
    box-sizing: border-box;
    position: static;
    top:0;
    left:0;
  }
  .l-c-ul{
    position: static;
    margin:60px auto 0 auto;
    top:0px;
    left:0;
    -webkit-transform:translateX(0%) translateY(0%);
       -moz-transform:translateX(0%) translateY(0%);
        -ms-transform:translateX(0%) translateY(0%);
         -o-transform:translateX(0%) translateY(0%);
            transform:translateX(0%) translateY(0%);
  }
  .l-c-ul li{
    width:100%;
    padding:0;
    margin-bottom:60px;
  }
  .l-c-u-l-frame {
    width: 100%;
    height: 600px;
    border-radius: 20px 20px 0px 20px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 16%);
    position: relative;
  }
}

@media screen and (max-width:600px){
  .l-c-ul li{
    margin-bottom:30px;
  }
  .l-c-u-l-frame{
    height:400px;
  }
  .link_name_en p{
    font-size:25px;
  }
  .link_name_jp p{
    font-size:16px;
  }
}
/*-----------contact-----------*/
@media screen and (min-width:1100px){
  .go{
    width:100%;
    height:100%;
    position: relative;
  }
  .g-content{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);

    width:900px;
    height:auto;
    padding:15px 15px;

    background:linear-gradient(120deg,#004BB1,#1479FF);
  }
  .g-c-frame{
    width:100%;

    background:#F7F7F8;
  }
  .g-c-frame h2{
    font-size:35px;
    font-weight:bold;
    padding-top:35px;
    text-align: center;
    position: relative;
  }
  .g-c-frame h2::before{
    content:"";
    width:45px;
    height:4px;
    position: absolute;
    bottom:-15px;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(0%);
       -moz-transform:translateX(-50%) translateY(0%);
        -ms-transform:translateX(-50%) translateY(0%);
         -o-transform:translateX(-50%) translateY(0%);
            transform:translateX(-50%) translateY(0%);

    background:url(../image/common/common_service_bar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .g-c-frame p{
    color:#000;
  }
  .g-c-f-nihon{
    font-size:16px;
    font-weight:bold;
    margin-top:30px;
    text-align: center;
  }
  .g-c-f-main{
    line-height:200%;
    font-size:16px;
    font-weight:bold;
    margin-top:40px;
    text-align: center;
  }
  .g-c-f-tel{
    margin-top:30px;
    font-size:25px;
    font-weight:bold;
    text-align: center;
  }
  .g-c-f-text{
    margin-top:20px;
    padding-bottom:10px;
    font-size:16px;
    text-align: center;
    line-height: 120%;
  }
  .g-c-f-more{
    margin:0 auto;
    margin-top:30px;
    position: relative;
    width:425px;
    height:68px;
    border-radius: 18px;
    background:linear-gradient(120deg,#004BB1,#00B1D4);
  }
  .g-c-f-m-white{
    width:417px;
    height:60px;

    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);

    background:#F7F7F8;
    border-radius: 14px;
  }
  .g-c-f-m-white p{
    font-size:18px;
    font-weight:bold;
    line-height:60px;
    text-align:center;
    position: relative;
  }
  .g-c-f-m-white p::after{
    content:"";
    display: block;
    width:22px;
    height:22px;
    background: url(../image/top/yazi-icon.png);
    background-size: cover;
    position: absolute;
    top:50%;
    right:30px;
    -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
         -o-transform:translateY(-50%);
            transform:translateY(-50%);

  }
  .g-c-f-m-white p::before{
    content:"";
    display: block;
    width:25px;
    height:25px;
    background: url(../image/top/mail-icon.png);
    background-size: cover;
    position: absolute;

    position: absolute;
    top:50%;
    left:50px;
    -webkit-transform:translateY(-51%);
       -moz-transform:translateY(-51%);
        -ms-transform:translateY(-51%);
         -o-transform:translateY(-51%);
            transform:translateY(-51%);

  }
}

@media screen and (max-width:1099px){
  .go{
    width:100%;
    height:100%;
    position: relative;
  }
  .g-content{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);

    width:100%;
    height:auto;
    padding:0px;

    background:#fff;
  }
  .g-c-frame{
    width:100%;

    background:#fff;
  }
  .g-c-frame h2{
    font-size:35px;
    font-weight:bold;
    padding-top:35px;
    text-align: center;
    position: relative;
  }
  .g-c-frame h2::before{
    content:"";
    width:45px;
    height:4px;
    position: absolute;
    bottom:-15px;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(0%);
       -moz-transform:translateX(-50%) translateY(0%);
        -ms-transform:translateX(-50%) translateY(0%);
         -o-transform:translateX(-50%) translateY(0%);
            transform:translateX(-50%) translateY(0%);

    background:url(../image/common/common_service_bar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .g-c-frame p{
    color:#000;
  }
  .g-c-f-nihon{
    font-size:16px;
    font-weight:bold;
    margin-top:30px;
    text-align: center;
  }
  .g-c-f-main{
    line-height:200%;
    font-size:16px;
    font-weight:bold;
    margin-top:40px;
    text-align: center;
  }
  .g-c-f-tel{
    margin-top:30px;
    font-size:25px;
    font-weight:bold;
    text-align: center;
  }
  .g-c-f-text{
    margin-top:20px;
    padding-bottom:10px;
    font-size:16px;
    text-align: center;
    line-height: 120%;
  }
  .g-c-f-more{
    margin:0 auto;
    margin-top:30px;
    position: relative;
    width:425px;
    height:68px;
    border-radius: 18px;
    background:linear-gradient(120deg,#004BB1,#00B1D4);
  }
  .g-c-f-m-white{
    width:417px;
    height:60px;

    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
         -o-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);

    background:#F7F7F8;
    border-radius: 14px;
  }
  .g-c-f-m-white p{
    font-size:18px;
    font-weight:bold;
    line-height:60px;
    text-align:center;
    position: relative;
  }
  .g-c-f-m-white p::after{
    content:"";
    display: block;
    width:22px;
    height:22px;
    background: url(../image/top/yazi-icon.png);
    background-size: cover;
    position: absolute;
    top:50%;
    right:30px;
    -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
         -o-transform:translateY(-50%);
            transform:translateY(-50%);

  }
  .g-c-f-m-white p::before{
    content:"";
    display: block;
    width:25px;
    height:25px;
    background: url(../image/top/mail-icon.png);
    background-size: cover;
    position: absolute;

    position: absolute;
    top:50%;
    left:50px;
    -webkit-transform:translateY(-51%);
       -moz-transform:translateY(-51%);
        -ms-transform:translateY(-51%);
         -o-transform:translateY(-51%);
            transform:translateY(-51%);

  }
}

@media screen and (max-width:600px){
  .g-content{
    width:90%;
  }
  .g-c-f-more{
    width:100%;
  }
  .g-c-f-m-white{
    width:calc(100% - 8px );
  }
  .g-c-f-m-white p{
    font-size:16px;
  }
  .g-c-f-m-white p::before{
    left:15px;
  }
  .g-c-f-m-white p::after{
    right:15px;
  }
}

/*-----------page_counter-----------*/
@media screen and (min-width:1100px){
  .page_counter{
    position:absolute;
    bottom:0;
    right:0;

    width:30px;
    height:60px;
  }
  .pc-ul{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
  }
  .pc-ul li{
    width:100%;
    height:50%;
  }
  .pc-ul li div{
    width:100%;
    height:100%;
    text-align:center;
    line-height:30px;
    font-weight:normal;
    font-size:14px;
  }
  .all_page{
    position: relative;
  }
  .all_page::after{
    content:"";
    width:20px;
    height:1px;
    background:#000;

    position: absolute;
    top:0%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(0%);
       -moz-transform:translateX(-50%) translateY(0%);
        -ms-transform:translateX(-50%) translateY(0%);
         -o-transform:translateX(-50%) translateY(0%);
            transform:translateX(-50%) translateY(0%) rotate(-25deg);
  }
}

@media screen and (max-width:1099px){
  .page_counter{
    position:absolute;
    bottom:0;
    right:0;

    width:30px;
    height:60px;
  }
  .pc-ul{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
  }
  .pc-ul li{
    width:100%;
    height:50%;
  }
  .pc-ul li div{
    width:100%;
    height:100%;
    text-align:center;
    line-height:30px;
    font-weight:normal;
    font-size:14px;
  }
  .all_page{
    position: relative;
  }
  .all_page::after{
    content:"";
    width:20px;
    height:1px;
    background:#000;

    position: absolute;
    top:0%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(0%);
       -moz-transform:translateX(-50%) translateY(0%);
        -ms-transform:translateX(-50%) translateY(0%);
         -o-transform:translateX(-50%) translateY(0%);
            transform:translateX(-50%) translateY(0%) rotate(-25deg);
  }
}

@media screen and (max-width:800px){
  .page_counter{
    display:none;
  }
}
